@font-face {
  font-family: font;
  src: URL('font.ttf') format('truetype');
}
*{
  font-family: font;
}

div.recipeEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.recipeEntry > * {
  margin-right: 12px;
}
