.search_bar {
    position: absolute;
    width: 100%;
    height: 10%;
    left: calc(50% - 100%/2);
    top: 49px;

    background: #FFBB71;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Spudly_png {
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 204px;
    height: 80%;
    left: 2%;
    top: 10%;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 83px;

    color: #FFFFFF;
}

#search_box {
    position: absolute;
    width: 40%;
    height: 66%;
    left: 30%;
    top: 15%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
    background: #FFBB71;
    border-color: #FFFFFF;
}

#search_png {
    position: absolute;
    width: 4%;
    height: 70%;
    left: 65%;
    top: 20%;
}

#cart_png {
    position: absolute;
    left: 88%;
    right: 6.88%;
    top: 20%;
    width: 4%;
    height: 70%;
}

#saved_png {
    position: absolute;
    left: 95%;
    right: 2.01%;
    top: 20%;
    width: 3.2%;
    height: 70%;
}

.search {
    position: relative;
    text-align: center; 
    color: black;
}
.welcome {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#first{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    opacity: .3;
}
#second{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    opacity: .3;
}

.text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
