name: HTML Check
on:
  push:
    branches:
      - main
    paths:
      - '**.html'
  pull_request:
    branches:
      - main
    paths:
      - '**.html'
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 # Requried will all actions
    - name: HTML5 Validator
      uses: Cyb3r-Jak3/html5validator-action@v7.0.0
      with:
        root: html/
